/**
 * Icons
 */
.icon > svg {
  display: inline-block;
  width: 24px;
  height: 24px;
  vertical-align: middle;
  margin-left: 10px;
  margin-right: 10px;

  }
  .icon > svg path {
    fill: #828282; }


 .socialBox {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;

 }

 .flexItem {
    text-align: center;
 }


 .social-media-list {
  list-style-type:none;
  margin: 0;
  padding:0;
  padding-bottom: 4px;
  width: 70%;

  display: inline-block;


  }

 .social-media-list li {
    padding:4px;
    font-size:16px;
}

 .social-media-list li a {
    text-decoration: none;
}


body {
    -moz-transform: scale(1.1); /* for Firefox, default 1*/
    zoom:110%; /* For Chrome, IE, default 100%*/
    padding-top: 70px; /* to deal with navbar */
    max-width: 800px;
    margin: auto;
}

.thumbnail {
  margin: 20px;
  display: block;
  padding: 4px;
  line-height: 1.428571429;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 0px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.tile {
  display: block;
  cursor: pointer;
  -webkit-perspective: 0;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 0.2s;
  float: left;
  min-width: 75px;
  min-height: 75px;
  text-align: center;
  opacity: 0.75;
  background-color: #2e8bcc;
  z-index: 1;
  border: 4px #ffffff solid;
  color: #ffffff;
}

.tile.tile-medium {
  height: 150px;
  width: 150px;
}

.tile.tile-purple {
  background-color: rgb(56,180,74);
}

/* In-page links go 60px higher to account for the header */
:target::before {
  content: "";
  display: block;
  height: 60px; /* fixed header height*/
  margin: -60px 0 0; /* negative fixed header height */
}
