---
layout: page
---

<h2>{{page.title}}</h2>

<hr>

<ul style="padding-left:0px;">
  {% for post in site.categories[page.mycategory] %}

    <h2>
      <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
    </h2>

    <span class="text-warning">{{ post.date | date: "%b %-d, %Y" }}</span>
    <br>

    {% for category in post.categories %}
      <a href="/{{category}}" class="btn btn-warning btn-xs" style='margin-top:8px; margin-bottom:8px;'>{{category}}</a>
    {% endfor %}

    <p>{{ post.content | strip_html | truncatewords:75}}</p>
    <a href="{{ post.url | prepend: site.baseurl }}">Read more...</a><br>

    {% endfor %}
</ul>
