---
layout: page
---


<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      jax: ["input/TeX", "output/HTML-CSS"],
      tex2jax: {
        inlineMath: [ ['$', '$']],
        displayMath: [ ['$$', '$$']],
        processEscapes: true,
        skipTags: ['script', 'noscript', 'style', 'textarea', 'pre', 'code']
      }
      //,
      //displayAlign: "left",
      //displayIndent: "2em"
    });
</script>
<script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML" type="text/javascript"></script>

<style>
@media (max-width: 767px) {
    .affix {
        position: static;
    }
}
</style>



<div class="row">
  <div class="col-xs-12 col-sm-3">

      <div class='affix'>
        <h4>Table of Contents</h4>
        <ul class="list-unstyled" id="toc"></ul>
        <hr>
        <a href="https://twitter.com/intent/tweet?screen_name=andrewmehrmann&ref_src=twsrc%5Etfw" class="twitter-mention-button" data-show-count="false">Tweet to @andrewmehrmann</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>

  </div>

  <div id="content" class="col-xs-12 col-sm-9 pull-right">

      {% assign post = page %}

      <h1>{{ post.title }}</h1>
      <hr>

      {% include post-meta.html %}

      {{ content }}

  </div>

</div>
